src/main/resources/alma_xsd/rest_portfolio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>
            A portfolio is the specific coverage, services, and link information relevant for a particular electronic title. Portfolios may be defined as standalone entities or as part of an electronic collection.
        </xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="rest_notes.xsd"/>
    <xs:include schemaLocation="rest_group_settings.xsd"/>
    <xs:element name="portfolio" type="portfolio"/>
    <xs:complexType name="portfolio">
        <xs:annotation>
            <xs:documentation>Portfolio Object.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get</xs:tags>
                        <xs:example>53440557400001021</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Identifier of the portfolio in Alma. Output parameter. Should be used in subsequent queries regarding the portfolio.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="is_local" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get</xs:tags>
                        <xs:example>false</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Indication whether the portfolio is linked to CZ or local. Output parameter. POST portfolio currently creates only local portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="is_standalone" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                        <xs:example>false</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Indication whether the portfolio is part of a collection or a standalone. POST /almaws/v1/electronic/e-collections/{collection_id}/e-services/{service_id}/portfolios creates a portfolio that is part of a collection. POST /almaws/v1/bibs/{mms_id}/portfolios might create both types - depend on the value in this field. Default is standalone.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="resource_metadata" type="resource_metadata1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>Metadata related information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="electronic_collection" type="electronic_collection" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        Related collection id. Relevant if the portfolio is part of an electronic collection. POST /almaws/v1/electronic/e-collections/{collection_id}/e-services/{service_id}/portfolios creates the portfolio as part of the collection and service specified in the URL. POST /almaws/v1/bibs/{mms_id}/portfolios - this field is mandatory if is_standalone=false.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="availability" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>ElectronicPortfolioBaseStatus</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>11</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Whether the portfolio is active. Default is available (11). Possible code are listed in ElectronicPortfolioBaseStatus [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="material_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>electronicMaterialType</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>JOURNAL</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The electronic material type. Possible code are listed in electronicMaterialType [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]. This field can be updated by the PUT action for local portfolios only.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="activation_date" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>2014-11-23Z</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Activation date. Default is current date. Relevant when the portfolio is available. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="expected_activation_date" type="xs:date" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get put post</xs:tags>
                        <xs:example>2014-11-23Z</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Expected activation date. Relevant when the portfolio is not available. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="library" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The owning library associated with the portfolio. This field can be updated by the PUT action for all portfolios. See [Get libraries API|https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed].
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="access_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The licensing rights of a portfolio. Default is empty, meaning that access type is inherited from the electronic collection. Possible codes are listed in PortfolioAccessType [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]. In the PUT action, access_type can be modified for all portfolios. If this field is not sent (or sent empty), existing value will be removed.
                    </xs:documentation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:codeTable>PortfolioAccessType</xs:codeTable>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="counter_platform" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The related counter platform. Possible codes are listed in CounterPlatform [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
                    </xs:documentation>
                    <xs:appinfo>
                        <xs:tags>api get post put</xs:tags>
                        <xs:codeTable>CounterPlatform</xs:codeTable>
                        <xs:example>ProQuest</xs:example>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="linking_details" type="linking_details" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>Linking related information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="coverage_details" type="coverage_details" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>Coverage related information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="po_line" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        The main PO line for the portfolio. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="license" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        The active license from the Licenses and Amendments page. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="interface" type="interface" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        Interface related information. Relevant for standalone portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pda" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        The PDA program related to the portfolio. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="additional_po_lines" type="additional_po_lines" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        A list of any additional PO lines associated with this portfolio. Can be updated by the PUT action for all portfolios. Note that the incoming list will replace the existing list. If the incoming list is empty, the existing list will be deleted.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="authentication_note" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>Some</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        A note related to authentication (to display in the discovery system). This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="public_note" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>None</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Information about the database for patrons (The note appears in the discovery system). This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="notes" type="notes" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The portfolio's related notes. In the PUT action the incoming list will replace the existing list. If the incoming list is empty, the existing list will be deleted. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="group_settings" type="group_settings" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        List of access restrictions based on location. I n the PUT action the incoming list will replace the existing list. If the incoming list is empty, the existing list will be deleted. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="link" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="coverage_details">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>Coverage related information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="coverage_in_use" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>CoverageInUse</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>0</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Specifies the coverage statement within an electronic collection. Possible code are listed in CoverageInUse [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="global_date_information" type="global_date_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The coverage parameters that indicate the content that was purchased/activated.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="local_date_information" type="local_date_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The coverage local parameters. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="perpetual_date_information" type="perpetual_date_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The dates, volumes, and/or issues that are part of the perpetual coverage for the portfolio. Relevant only when access_type is Perpetual or Current and perpetual.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="global_embargo_information" type="embargo_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The moving wall of availability. Relevant for non-local portfolios only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="local_embargo_information" type="embargo_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The embargo local parameters. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="perpetual_embargo_information" type="embargo_information" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        The moving wall of availability. Relevant only when access_type is Perpetual or Current and perpetual.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="global_date_information">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                A list of coverage parameters that indicate the content that was purchased/activated.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="global_date_coverage_parameters" type="date_coverage_parameters" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>Coverage parameters for global information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="local_date_information">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                A list of coverage parameters that indicate the content that was purchased/activated.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="local_date_coverage_parameters" type="date_coverage_parameters" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>Coverage parameters for local information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="perpetual_date_information">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                A list of coverage parameters that indicate the content that was purchased/activated. Relevant only when access_type is Perpetual or Current and perpetual.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="perpetual_date_coverage_parameters" type="date_coverage_parameters" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                    </xs:appinfo>
                    <xs:documentation>
                        Coverage parameters for perpetual date information.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="date_coverage_parameters">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>Coverage parameters.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="from_year" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>1989</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The year of the coverage start date of the title (in YYYY format).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="from_month" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>Months</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>01</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The month of the coverage start date of the title. Possible code are listed in Months [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="from_day" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>DaysOfWeek</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>10</xs:example>
                    </xs:appinfo>
                    <xs:documentation>The day of the coverage start date of the title.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="from_volume" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>0</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The numeric volume number from which the title coverage begins.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="from_issue" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>1</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The numeric issue number from which the title coverage begins.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="until_year" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>2030</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The year of the coverage end date of the title (in YYYY format).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="until_month" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>01</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The month of the coverage end date of the title. Possible code are listed in Months [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="until_day" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>31</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The day of the coverage end date of the title. Possible code are listed in DaysOfWeek [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="until_volume" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>50</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The numeric volume number at which the title coverage ends.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="until_issue" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>5</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The numeric issue number at which the title coverage ends.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="embargo_information">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>Coverage parameters.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="embargo_operator" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>MovingWallOperator</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>></xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Embargo date operator. Possible code are listed in MovingWallOperator [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API].
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="number_of_years" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>20</xs:example>
                    </xs:appinfo>
                    <xs:documentation>The number of years for coverage information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number_of_months" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>10</xs:example>
                    </xs:appinfo>
                    <xs:documentation>The number of months for coverage information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resource_metadata1">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post</xs:tags>
            </xs:appinfo>
            <xs:documentation>Metadata related information.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="mms_id" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                        <xs:example>99130200090001021</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        The mms_id. Mandatory in POST /almaws/v1/electronic/e-collections/{collection_id}/e-services/{service_id}/portfolios. In POST /almaws/v1/bibs/{mms_id}/portfolios, Alma will use the mms_id from the URL.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get</xs:tags>
                        <xs:example>Anthropology and humanism quarterly</xs:example>
                    </xs:appinfo>
                    <xs:documentation>The title. Output parameter</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="linking_details">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>Linking related information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>The URL for accessing the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url_type" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        The type of URL that is used for this portfolio: Dynamic URL - Alma selects a linking URL dynamically at the portfolio level based on the list of conditions defined in the Dynamic URL field. Static URL - Override the linking URL with the static URL defined in the Static URL parameter. Parser Parameters - (for portfolio that is part of an electronic Collection only) An override for the parser's parameters in the Parser parameters (override) field. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dynamic_url" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        List of IF conditions to determine the service linking URL. Relevant when URL Type is Dynamic URL. This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="static_url" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        This URL overrides the URL created based on the parameters taken from the electronic collection, service, and portfolio. Example: http://link.aip.org/link/? This field can be updated by the PUT action for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parser_parameters" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        The linking/access information for this portfolio. Relevant when URL Type is Parser Parameters. Relevant for a portfolio that is part of an electronic Collection only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parser_parameters_override" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example/>
                    </xs:appinfo>
                    <xs:documentation>
                        Either the parser parameters to override the electronic collection parser parameters or enter a URL for accessing the portfolio. Relevant when URL Type is Parser Parameters. Relevant for portfolio that is part of an electronic Collection only.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="proxy_enabled" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:codeTable>BooleanYesNo</xs:codeTable>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>true</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Whether to enable a proxy. Possible code are listed in BooleanYesNo [code table|https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API]. In the PUT action, proxy_enabled can be modified for all collections.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="desc" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="proxy" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>LAW_PROXY</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        A proxy profile code. This must be a valid code of an integration profile of "Resolver proxy" type. In the PUT action, proxy can be modified for all portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="interface">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                Interface related information. Relevant for standalone portfolios.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>The Bookhouse, Inc.</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Name of the related interface. Relevant for standalone portfolios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vendor" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>api get</xs:tags>
                        <xs:example>BKHS</xs:example>
                    </xs:appinfo>
                    <xs:documentation>
                        Vendor code related to the interface. Output parameter. Relevant for standalone portfolios.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="additional_po_lines">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post put</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                A list of any additional PO lines associated with this collection.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="number" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post put</xs:tags>
                        <xs:example>1</xs:example>
                    </xs:appinfo>
                    <xs:documentation>Number of the Additional related PO line.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="electronic_collection">
        <xs:annotation>
            <xs:appinfo>
                <xs:tags>get post</xs:tags>
            </xs:appinfo>
            <xs:documentation>
                Details of the electronic collection. Relevant only for portfolios that are part of an electronic collection. POST /almaws/v1/electronic/e-collections/{collection_id}/e-services/{service_id}/portfolios creates the portfolio as part of the collection and service specified in the URL. POST /almaws/v1/bibs/{mms_id}/portfolios - this field is mandatory if is_standalone=false.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                        <xs:example>53440557400001021</xs:example>
                    </xs:appinfo>
                    <xs:documentation>Related collection id.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="service" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <xs:tags>get post</xs:tags>
                        <xs:example>62387556060001021</xs:example>
                    </xs:appinfo>
                    <xs:documentation>Related service id.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="link" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
